# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*]
# Indentation style
indent_style = space
# Indentation size
indent_size = 2
# Line ending file format
end_of_line = lf
# File character encoding
charset = utf-8
# Denotes whether whitespace is allowed at the end of lines
trim_trailing_whitespace = true
# Denotes whether file should end with a newline
insert_final_newline = true
# Force hard line wrapping after the amount of characters specified
# max_line_length = 80